* {
	margin: 0;
}
body {
	font-family: arial, helvetica, sans-serif;
        padding: 0.5em;
}
a {
	color: blue;
}
h1, h2 {
	font-family: serif;
}
h1 {
	display: inline;
}
h2 {
    padding: 0.5em 0em 0.5em 0em;
}
#intro {
	padding-bottom: 16px;
}
#sidebar {
	float: left;
	width: 7em;
	padding: 1em;
	background-color: white;
}
#main {
	padding-left: 9em;
	padding-right: 1em;
}
#main h2 {
	text-align: center;
}
.etitle {
	border-bottom: thin solid black;
}
.etitle, .ehead, .efoot {
	font-style: italic;
	background-color: #AAFFAA;
	padding: 7px;
}
#esend, .econ {
	padding-left: 16px;
}
.emess {
	border-left: medium solid #BFDFFF;
	border-right: medium solid #BFDFFF;
}
.espace {
    height: 15px;
}
#reply {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
#list {
	border-left: thin solid black;
	border-right: thin solid black;
	border-top: thin solid black;
	border-spacing: 0px;
}
#list td {
	border-bottom: thin solid black;
	padding: 3px;
}
tr.read {
    background-color: #DFEFFF;
}
tr.read_sel, tr.unread_sel {
	background-color: #FFFFDD;	
}
tr.header, .etitle, .ehead, .efoot {
    background-color: #BFDFFF;
}
#notif {
	background-color: #FFFF55;
}
.inboxtag {
	background-color: #FFFF55;
}
.normaltag {
	background-color: #BBBBFF;
}

.messac, #subject {
    width: 40em;
}
.messlabel {
	height: 1.5em;
}
.messac {
	position: relative;
	top: -1.5em;
	left: 2.5em;
}
#messbar {
    padding-top: 0.5em;
    padding-bottom: 0em;
}
h2.mess {
    padding-top: 0em;
    padding-bottom: 0em;
}
